body {
    font-size: 12px;
    color: #191919; 
	font-family: 'Open Sans';
    font-size: 12px;
	letter-spacing: 8px;
}

.official {
    margin-top: -285px;
    margin-left: 985px;
    color: white;
    font-size: 14px;
    
}

.eel-01 img{
 
    margin: auto;
    background-color: aqua;
}

.des {
    height: 250px;
    width: 200px;
    margin-top: -320px;

    font-size: 21px;
    color: white;
}
.detail-box {
    height: 630px;
    width: 1920px;
    background-color: white;
    margin-top: 100px;
    overflow: hidden;
}

.detail-block {
    color: #191919;
  
    margin: auto;
    margin-top: -100px;
    width: 1000px;
    margin-bottom: 50px;
}

.detail {
    display: inline-block;
    
    width: 200px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 360px;
    margin-bottom: 60px;
    color: #191919;
    
}

.ques {
    height: 20px;
    width: 200px;
    display: inline-block;
    font-size: 14px;
}

.ans {
    height: 20px;
    width: 200px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.introduction-box img {
    height: 780px;
    width: 1920px;
    background-color: yellow;
    margin: auto;
 
}

.intro {      
    width: 450px;
    margin-top: -460px;
    margin-left: 760px;
    text-align: center;
}

.video-box {
    margin: auto;
    text-align: center;
    height: 747px;
    width: 1920px;
    background-color: #0b0b0c;
    overflow: hidden;
}