body {
    font-size: 12px;
    color: #191919; 
	font-family: 'Open Sans';
    font-size: 12px;
	letter-spacing: 8px;
    background: #0b0b0c;
}

.official {
    margin-top: -285px;
    margin-left: 985px;
    color: white;
    font-size: 14px;
    
}

.eel-01 img{
 
    margin: auto;
    background-color: aqua;
}

.des {
    height: 250px;
    width: 200px;
    margin-top: -320px;
    font-size: 21px;
    color: white;
}
.detail-box {
    height: 430px;
    width: 1920px;
    background-color: white;
    margin-top: 100px;
    overflow: hidden;
}

.detail-block {
    color: #191919;
    margin: auto;
    margin-top: -100px;
    width: 1000px;
    margin-bottom: 10px;
}

.detail {
    display: inline-block; 
    width: 200px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 360px;
    margin-bottom: 60px;
    color: #191919;
    
}

.ques {
    height: 20px;
    width: 200px;
    display: inline-block;
    font-size: 14px;
}

.ans {
    height: 20px;
    width: 200px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.introduction-box img {
    height: 5780px;
    width: 1920px;
    margin: auto;
}

.introduction {
    color: white;
    text-align: center;
    font-size: 14px;
}

.content-box {
    background: yellow;
    margin-top: -440px;
    margin-left: 530px;
    width: 850px;
}

.introduction-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
}

.introduction-text {
    letter-spacing: 3px;
}

.video {
    margin: auto;
    padding-top: 80px;
    text-align: center;
    height: 1800px;
    width: 1920px;
    background-color: #0b0b0c;
    margin-top: 489px;
}

.youtube {
    margin-top: 50px;
}

.picture-collection {
    width: 1280px;
    height: 250px;
    margin-top: 40px;
    margin-left: 320px;
    overflow: hidden;
}

.picture-collection img {
    width: 250px;
    height: 250px;
}

.pic1 img{
 
    display: inline-block;
    margin-right: 80px;
    margin-left: -190px;
}

.pic2 img{
    
    display: inline-block;
    margin-right: 80px;
}

.pic3 img{
    
    display: inline-block;
    margin-right: 80px;
}

.pic4 img{
   
    display: inline-block;
    margin-right: -190px;
}