@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	clear: both;
}
.navbar{
	margin-top: 20px;
}

.navbar-right{
	a{
		font-weight: 200;
	}
}

.section1{
	margin: 0;
	padding: 0;
	position: relative;
	top:-600px;
	overflow: hidden;
	text-align: center;
	z-index: 2;
	h1{
		margin: 0;
		padding: 0;
		z-index: 2;
		position: relative;
		top:-400px;
	}
	img{
		margin: 0;
		padding: 0;
		z-index: 1;
	}
}

.section2{
	overflow: hidden;
	position: relative;
	top:-920px;
	z-index: -1;
	h2{
		top: 300px;
		z-index: 5;
		background: black;
	}
}

.section3{
	position: relative;
	overflow: hidden;
	top:-920px;
}

h1 {
	color: #eeeeee;
	font-family: 'Open Sans';
	font-kerning: 10px;
	font-weight: bold;
  font-size: 4em; /* 40px/16=2.5em */
	letter-spacing: 8px;
	line-height: 70px;

}