@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	margin-top: 60px;
	background: black;
}
.navbar{
	margin-top: 20px;
}

.navbar-right{
	a{
		font-weight: 200;
	}
}

h1 {
	color: #ffffff;
	font-family: 'Open Sans';
	font-kerning: 10px;
	font-weight: bold;
  font-size: 6em; /* 40px/16=2.5em */
	letter-spacing: 8px;
	line-height: 120px;

}